#users-panel {
	border-radius: 5px 5px 5px 5px;
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    padding: 0px;
}

.user-section-header {
	padding: 2px 20px;
	color: white;
	background-color: #0055CC; 
}

.section-header-top {
	border-radius: 5px 5px 0px 0px;
}

.user-section-header>i[class*='icon-'] {
	vertical-align: middle;
}

div.user {
	position: relative;
	width: 85%;
	margin: 5px auto;
}