/*.gridCont .ui-jqgrid {
	position:relative;
	margin:0 auto;
}*/
.customToolbar {
	padding:2px;
	margin:0 2px;
	height:2.4em !important;
	width:802px !important;
}

/* Basic layout of all trigger icons */
.icon-trigger { margin: 2px; vertical-align: middle; display: inline-block; width: 16px; height: 16px; }
.action-trigger { cursor: pointer; }
.disabled-trigger {opacity:0.4;filter:alpha(opacity=40)!important;}

/* delete icon image for trigger */
.delete { background: url('../../images/icons/delete.png') no-repeat scroll 0px 0px transparent !important; }

/* pencil icon image for trigger */
.pencil { background: url('../../images/icons/pencil.png') no-repeat scroll 0px 0px transparent !important; }

/* add icon image for trigger */
.add { background: url('../../images/icons/add.png') no-repeat scroll 0px 0px transparent !important; }

/* page_white_go icon image for trigger */
.page_white_go { background: url('../../images/icons/page_white_go.png') no-repeat scroll 0px 0px transparent !important; }

/* bullet_toggle_minus icon image for trigger */
.bullet_toggle_minus { background: url('../..//images/icons/bullet_toggle_minus.png') no-repeat scroll 0px 0px transparent !important; }

/* bullet_toggle_plus icon image for trigger */
.bullet_toggle_plus { background: url('../../images/icons/bullet_toggle_plus.png') no-repeat scroll 0px 0px transparent !important; }

div.col { position: relative; width: 48%; float: left; }

form#searchForm { width: 810px; margin: 0 auto; }

form#searchForm input.searchFormBtns { position: relative; float: right; }

.evenRow { background-color: #F5F5F5; }

.ui-jqgrid tr.jqgroup td { font-size: 1.1em; font-weight: bold !important; background-color: #98AFC7; }

div.dateSummaryFooter { text-align: right; }

tr.jqfoot td { background-color: #736F6E; color: #FFF; }

.ui-jqgrid .ui-jqgrid-toppager, .ui-jqgrid-pager { height: 2.7em !important; }

.ui-pg-table input.ui-pg-input { width: 2em; height: 11px }

.ui-pg-table select.ui-pg-selbox { width: 5.5em; line-height: 26px; height: 26px; }

.ui-jqgrid { position: relative; margin: 0 auto; }

 body {
  padding-top: 60px;
  padding-bottom: 40px;
}